body{
    margin:0
}
.header{
    background:#333333;
    display:flex;

    align-items: center;
    height: 78px
}
.header1{
    display:flex;
    flex: 1
}
.header1 img{
    width: 43px;
    height:42px;
    margin-left: 12px
}
.header2{
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1 ;
    margin-right:50px
    
}
.header2 h1{
    font-size:24px;
    font-family: 'Montez'
}
.header2 h2{
    margin-top:-20px;
    font-family: 'Inria Serif';
    font-size:14px;
}
.header3{
    background:red;
    display:flex;
    /* flex: 1; */
    gap: 10px;
    justify-content: flex-end;
    margin-right:10px;
   
}
.h31 img{
    width:16px;
    height:20px;
    
    
}
.h32 img{
    width:18px;
    height:20px;
    
}
.h33 img{
    width:16px;
    height:16px;
    
}
